body {
  background-color: black;
}

h1, h2, h3 {
  color: ghostwhite;
  /*text-align: center;*/
}

#gametext {
  color: ghostwhite;
}

#displaynum {
  color: ghostwhite;
}

#usernumguess {
  color: ghostwhite;
}

#randomjsnums {
  color: ghostwhite;
}
