body {
  background-color: #CF4647;
}

.cont {
  background-color: #F5D061;
}

h1, h2, h3, #randomjsnums {
  color: blue;
  font-family: helvetica;
}

#gametext, #displaynum, #usernumguess {
  color: blue;
  font-family: monospace;
  font-size: 20px;
}

p {
  color: black;
  font-family: serif;
  font-size: 30px;
}

.form {
  margin: 0 auto;
  width: 50%;
}

.score {
  margin: 0 auto;
  width: 50%;
}

h5 {
  color: black;
}

.newcolor {
  background-color: #F8F6F6;
}
